body{
    background-color: rgb(94, 255, 0);
}
h1{
    color:darkblue;
    background-color: skyblue;
}
#show_sketch{
    float:right;
}
canvas{
    border:5px solid white;
    border-radius: 20px;
    animation-name: expample ;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    margin-top: 50px;
}
@keyframes example{
    from{box-shadow: 1px 1px 1px 38px rgb(147, 8, 240);}
    to{box-shadow: 1px 1px 1px 38px rgb(196, 250, 3);}
}
p{
    padding-top: 10px;
    font-size: 25px;
}